*{
    color: black;
}


html {
    background-color:grey;
}

h1{
    color: black;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#kerdes-box{
    background-color: maroon;
    

    margin-top: 6vh;
    padding-bottom: 2vh;	

    border: 1.5px black solid;
    border-radius: 3vh;
    width: 40%;
    margin: auto;
    
    text-align: center;
    
}

#kerdes{
    font-size: 25px;  
}

label{
    font-size: 20px;
}

#Elkuldgomb{
    margin-top: 2vh;
    font-size: 18px;
    border: 1px black solid;
    border-radius: 5vh;
    
}

#Elkuldgomb:hover {
    background-color: lightgreen;
    cursor: pointer;
}






