
html {
    background-color:grey;
}

h1{
    color: black;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

#kerdes-box{
    background-color: rgb(219, 149, 58);
    

    margin-top: 6vh;
    padding-bottom: 2vh;	

    border: 1.5px black solid;
    border-radius: 3vh;
    width: 40%;
    margin: auto;
    
    text-align: center;

    color: white;
    
}

#kerdes{
    font-size: 25px;  
    font-variant: small-caps;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label{
    font-size: 20px;
}

#Elkuldgomb{
    margin-top: 2vh;
    font-size: 18px;
    border: 1px black solid;
    border-radius: 5vh;
    
}

#Elkuldgomb:hover {
    background-color: rgb(67, 196, 110);
    cursor: pointer;
    
}






